# ============ #
# OS generated #
# ============ #

*.DS_Store
*.DS_Store?
*._*
*.Spotlight-V100
*.Trashes
*.ehthumbs.db
*Thumbs.db
~$*.ppt*
*.swp
code/wp05/cmake-build-debug/
code/wp05/cmake-build-debug
code/wp05/cmake-build-release/
code/wp05/cmake-build-release
**/docs/out
/code/wp05/cmake-build-debug/*
